html,
body {
  overflow-x: hidden;
  max-width: auto;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}


header{
  margin: 10px;
  margin-bottom: 20px;
}

.developer{
  font-weight: 700;
  font-size: x-large;
  color: #004aad;
}

.title{
  color: #004aad;
  font-size: large;
}

.text{
  font-size: small;
}

.footer{
  width: 100%;
  background-color: #004aad;
  padding-bottom: 10px;
}

.footer img{
  width: 15%;
}

.name, .email{
  color: white;
}

.name{
  margin-left: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.email{
  font-weight: 500;
}


@media (min-width: 576px) { 
  .name{
    text-align: end;
  }
}