html,
body {
  overflow-x: hidden;
  max-width: auto;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}


header{
  margin: 10px;
  margin-bottom: 20px;
}

.info_columns{
  padding: 0;
}

.developer{
  font-weight: 700;
  font-size: x-large;
  color: #004aad;
}

.title{
  color: #004aad;
  font-size: large;
}

.text{
  font-size: small;
}

.footer{
  width: 100%;
  background-color: #004aad;
  padding-bottom: 10px;
}

.footer img{
  width: 15%;
}

.name, .email{
  color: white;
}

.name{
  margin-left: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.email{
  font-weight: 500;
}


@media (min-width: 576px) { 
  .name{
    text-align: end;
  }
}

@media (min-width: 768px) {

  .developer{
    font-size: xx-large;
  }

  .title{
    font-size: x-large;
  }
  

  .name, .email{
    font-size: 30px;
  }

  .text{
    font-size: medium;
  }
  
 }

 @media (min-width: 992px) { 

  .container{
    display: flex;
    flex-direction: row;
    margin-top: 27px !important;
    margin-bottom: 27px !important;
  }

  .developer{
    font-size: 34px;
  }

  .title{
    font-size: 20px;
  }
  
  .text{
    font-size: 15px;
  }
  .name, .email{
    font-size: 40px;
  }
  .footer img{
    max-width: 6%;
  }

  }

  @media (min-width: 1200px) { 

    .developer{
      font-size: 51px;
    }
  
    .title{
      font-size: 28px;
    }
    
    .text{
      font-size: 18px;
    }
    .name, .email{
      font-size: 40px;
    }

    .info{
      margin: 7% 0;
    }
   }